        body {
            margin: 0px;
            background-color: aquamarine;
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .turns {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 50px;
            margin-bottom: 120px;
        }
        .turn {
            width: 20px;
            height: 20px;
            background-color: white;
            border-radius: 50%;
            margin: 0 10px;
        }
        .bars {
            display: flex;
            gap: 10px;
            justify-content: center;
            align-items: center;
            margin-top: 100px;
        }
        .bar {
            width: 20px;
            height: 50px;
            background-color: white;
            display: flex;
        }
     @keyframes rotateAnimation {
  from {
    transform: none;
  }

  to {
    transform: rotateZ(-180deg);
  }
}
.turns {
    animation: rotateAnimation 1s ease-out infinite;
}
@keyframes pianoAnimation {
  0%,
  35% {
    transform: scaleY(1);
  }

  50% {
    transform: scaleY(3);
  }
}
.bar {
  animation: pianoAnimation 1s ease infinite;
}
.bar:nth-child(2) {
  animation-delay: 0.1s;
}

.bar:nth-child(3) {
  animation-delay: 0.2s;
}

.bar:nth-child(4) {
  animation-delay: 0.3s;
}

.bar:last-child {
  animation-delay: 0.4s;
}