  body {
    margin: 0px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: azure;
    }
    h1 {
    margin-bottom: 20px;
    font-size: 86px;
    font-weight: 600;
    }
    h4 {
    font-size: 40px;
    font-weight: 600;
    }
    header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 10px;
    border-bottom: 2px solid black;
    margin-bottom: 20px;
    }
    li  {
    list-style: none;
    }
    #info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end; 
    }
    #info div {
    display: flex;
    gap: 30px;
    }

    #info ul {
    list-style: none;
    padding: 0;
    margin: 0;
    }

    .one {
    display: flex;
    flex-direction: row;
    }
    .two {
    display: flex;
    flex-direction: row;
    }
    .three {
        display: flex;
    flex-direction: row;
    }
    .skyblue {
    width: 100px;
    height: 100px;
    background-color: rgb(186, 211, 255);
    border-radius: 50%;
    margin: 10px;
    }
    .gray {
    width: 100px;
    height: 100px;
    background-color: rgb(125, 125, 125);
    border-radius: 50%;
    margin: 10px;
    }
    .green {
    width: 100px;
    height: 100px;
    background-color: rgb(1, 127, 85);
    border-radius: 50%;
    margin: 10px;
    }